h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(126, 27, 27);
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 1rem;
}
    
.payment-page {
    padding: 1rem;
    float: right;
    width: 75%;
  }
  .payment-page .payment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
    align-items: center;
    text-align: center;
  }
  .payment-page .payment-details {
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   text-align: center;
  }
  
  
  
  .payment-page h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .payment-due-date {
    width: 25%;
  }
  
  .payment-page .pending-payments {
    margin-bottom: 2rem;
    
  }
  
  .payment-page .payment {
    display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  margin-left: 70px;
  
  }
  
  
  
  
  .payment-page button {
    background-color:rgb(214, 42, 42); 
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .payment-page .previous-transactions button {
    margin-bottom: 1rem;
  }
  
  .payment-page .previous-transactions-list .previous-transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
  }
  
  .payment-page .previous-transactions-list .previous-transaction-details {
    display: flex;
    flex-direction: column;
  }
  .transactions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  