.sidebar{
    /* flex: 0.3; */
    /* background-color: #b71c1c; */
    position: absolute;
    background-color: whitesmoke;
    /* color: aliceblue; */
    align-items: center;
    z-index: 1;
    height: 50px;
}