.header{
    height: 90px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top:0;
    z-index:100;
    background-color:rgb(247, 239, 239);
    /* width: 100%; */
   
    
    /* padding: 20px; */
    
}
.header__left .menu{
    cursor: pointer;
}
/* @media only screen and (max-width: 1026px) {
    .header__right {
        display: none;
    }
} */
/* .menuicon{
    display: flex;
    height: 200px;
    width: 200px;
    margin-left: 20px;
} */
.header__left{
    display: flex;
    align-items: center;
}
.header__left .header__logo{
    height: 40px;
    object-fit: contain;
    margin-left:20px;
    
}
.header__input{
    display:flex;
    align-items:center;
    width: 50%;
    border: 1px solid rgb(215, 101, 101);
    border-radius: 35px;
    height: 40px;
    padding: 30px;
    background-color: white;

}
/* .header__input .inputsearch{
border: 1px;
height: 50px;
} */
.header__right .loginclass{
    margin-right: 8px;
}

.header__right{
    display:flex;
    align-items:center;

    
}
.header__input > input{
    flex:1;
    border: 0;
    outline:0;
}
.header__inputbutton{
    width: 50px !important;
    background-color: white;
    border:None;
    color:#d50000;



}
